h4 {
  display:block;
  position:relative;
  float: left;
  clear:both;
  font-style: italic;
}

body {
  font-family: sans-serif;
}

.quoteContainer {
  position: relative;
  display: block;
  float: left;
  clear: left;
  width: 90%;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 4px;
}

.quote {
  font-style: italic;
  font-size: 18px;
  line-height: 25px;
}

.attribution {
  margin-top: 10px;
  font-weight: bold;
}

.dayContainer {
  position: relative;
  display: block;
  float: left;
  clear: none;
  width:180px;
  border: 2px solid black;
  text-align: center;
  margin-right: 4px;
  margin-top: 4px;
  height: 180px;
}

.dateContainer {
  background-color: black;
  color: white;
  font-size: 18px;
}

.summaryContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 130px;
  text-align: left;
  background-color: black;
  color: white;
  font-size: 12px;
  font-style: italic;
  padding: 4px;
  padding-left: 8px;
  padding-top: 8px;
}